<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.socialmediaplatform">

    <!-- Gerekli İzinler -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <!-- Minimum ve Hedef SDK -->
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="34" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialMediaPlatform"> <!-- Burada temayı belirtiyoruz -->
        <meta-data
            android:name="com.google.firebase.auth.API_KEY"
            android:value="AIzaSyAlP0UACiTcogjdWy7sb_3yroLdCR50JQo" />
        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <!-- Aktiviteler -->
        <activity android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CommentsActivity" />

        <activity android:name=".ProfileActivity" />
        <activity android:name=".CreateProfileActivity" />
        <activity android:name=".ui.MainStreamActivity"/>
        <activity android:name=".CreatePostActivity"/>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
<activity android:name=".ui.HomeActivity" />

    </application>
</manifest>